html {
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	flex: auto;
	padding: 15px;
}

header a {
	text-decoration: none;
	color: #000000;
	margin: 0px 10px;
}

header a:visited {
	color: #000000;
}

.google-logo {
	display: flex;
	justify-content: center;
}

.search-form {
	display: flex;
	justify-content: center;
	flex: auto;
}

.search-input {
	display: flex;
	justify-content: center;
	flex: auto;
}

.search-buttons {
	display: flex;
	justify-content: center;
	flex: auto;
}

footer {
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0px;
	padding: 15px;
}

footer a {
	text-decoration: none;
	color: #5f6368;
	margin: 0px 10px;
}

footer a:visited {
	color: #5f6368;
}
