header {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

header a {
	margin: 0px 10px;
}

.google-logo {
	display: flex;
	justify-content: center;
}

footer {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

footer a {
	margin: 0px 10px;
}
